.photo-grid {
  @include breakpoint(small, false) {
    @include g-row($space);
    &__item {
      @include g-columns(4, $space);
    }
  }
  @include breakpoint(mini, small) {
    @include g-row($space);
    &__item {
      @include g-columns(6, $space);
    }
  }

  &__item {
    margin-bottom: $space;
    img {
      display: block;
      width: 100%;
      height: auto;
      @include bx-sz;
      border: .3em solid $white;
      border-radius: $br;
      box-shadow: $thin $thin rem(5) rgba(#000, .2);
    }
  }
}