@font-face {
  font-family: 'WebHostingHub-Glyphs';
  src: url('../font/webhostinghub-glyphs.eot?2075');
  src: url('../font/webhostinghub-glyphs.eot#2075') format('embedded-opentype'),
       url('../font/webhostinghub-glyphs.ttf?2075') format('truetype');
  font-weight: normal;
  font-style: normal;
  -moz-font-feature-settings: "calt=0,liga=0";
}
