<IfModule mod_rewrite.c>
  <IfModule mod_headers.c>
    RewriteCond %{HTTP:Accept-encoding} gzip
    RewriteCond %{REQUEST_FILENAME}\.gz -s
    RewriteRule ^(.*) $1\.gz [QSA]
    # Serve correct content types, and prevent mod_deflate double gzip.	
	RewriteRule \.gz$ - [T=application/bin,E=no-gzip:1]
    RewriteRule \.ttf\.gz$ - [T=application/x-font-ttf,E=no-gzip:1]
    RewriteRule \.eot\.gz$ - [T=application/vnd.ms-fontobject,E=no-gzip:1]
    <FilesMatch "\.gz$">
      Header set Content-Encoding gzip
      Header append Vary Accept-Encoding
    </FilesMatch>
  </IfModule>
</IfModule>
