@import "sizes";

@mixin icon__font {
  @include _(icon__font) {
    @include icon-font('WebHostingHub-Glyphs', false);
    text-decoration: none !important;
  }
}

@mixin icon__block {
  @include _(icon__block) {
    font-size: 120%;
    line-height: 0;
    vertical-align: middle;
    display: inline-block;
  }
}

@mixin icon($icon, $space: after) {
  @include icon__font;
  @include icon__block;
  @if $space == after {
    margin-right: rem_round(1/3);
  }
  @if $space == before {
    margin-left: rem_round(1/3);
  }
  content: $icon;
}

$_icons: ();
@function icon($icon) {
  @if (index($_icons, $icon)==null) {
    $o: settings(icon, $icon);
    $_icons:append($_icons, $icon) !global;
  }
  @return $icon;
}

$icon-aaabattery:'\f413';
$icon-abacus:'\f261';
$icon-accountfilter:'\f05e';
$icon-acsource:'\f3ea';
$icon-addfriend:'\f3da';
$icon-address:'\f08f';
$icon-addshape:'\f1fd';
$icon-addtocart:'\f394';
$icon-addtolist:'\f2ac';
$icon-adjust:'\f484';
$icon-adobe:'\f1c9';
$icon-ads-bilboard:'\f082';
$icon-affiliate:'\f01e';
$icon-ajax:'\f06f';
$icon-alarm:'\f233';
$icon-alarmalt:'\f23d';
$icon-album-cover:'\f19f';
$icon-alertalt:'\f2b4';
$icon-alertpay:'\f269';
$icon-algorhythm:'\f0b8';
$icon-alienship:'\f41f';
$icon-alienware:'\f3be';
$icon-align-center:'\f1d9';
$icon-align-justify:'\f1da';
$icon-align-left:'\f1d7';
$icon-align-right:'\f1d8';
$icon-alignbottomedge:'\f1d3';
$icon-alignhorizontalcenter:'\f1d2';
$icon-alignleftedge:'\f1d6';
$icon-alignrightedge:'\f1d5';
$icon-aligntopedge:'\f1d4';
$icon-alignverticalcenter:'\f1d1';
$icon-amd:'\f020';
$icon-analogdown:'\f2cb';
$icon-analogleft:'\f2c8';
$icon-analogright:'\f2c9';
$icon-analogup:'\f2ca';
$icon-analytics-piechart:'\f000';
$icon-analyticsalt-piechartalt:'\f001';
$icon-anchor-port:'\f21d';
$icon-android:'\f12a';
$icon-angrybirds:'\f3c1';
$icon-antenna:'\f3ec';
$icon-apache-feather:'\f056';
$icon-aperture:'\f356';
$icon-appointment-agenda:'\f26c';
$icon-archive:'\f171';
$icon-arrow-down:'\f2fe';
$icon-arrow-left:'\f305';
$icon-arrow-right:'\f304';
$icon-arrow-up:'\f301';
$icon-asterisk:'\f317';
$icon-asteriskalt:'\002a';
$icon-at:'\40';
$icon-atari:'\f3b9';
$icon-authentication-keyalt:'\f051';
$icon-automobile-car:'\f239';
$icon-autorespond:'\f08e';
$icon-avatar:'\f15a';
$icon-avataralt:'\f161';
$icon-avengers:'\f342';
$icon-awstats:'\f04c';
$icon-axe:'\f2ef';
$icon-backup-vault:'\f004';
$icon-backupalt-vaultalt:'\f005';
$icon-backupwizard:'\f05f';
$icon-backward:'\f183';
$icon-bag:'\f234';
$icon-baloon:'\f405';
$icon-ban-circle:'\f313';
$icon-banana:'\f3f4';
$icon-bandwidth:'\f006';
$icon-bank:'\f262';
$icon-barchart:'\f02f';
$icon-barchartalt:'\f07d';
$icon-barcode:'\f276';
$icon-basecamp:'\f160';
$icon-basketball:'\f2e9';
$icon-bat:'\f3d3';
$icon-batman:'\f348';
$icon-batteryaltcharging:'\f104';
$icon-batteryaltfull:'\f101';
$icon-batteryaltsixty:'\f102';
$icon-batteryaltthird:'\f103';
$icon-batterycharged:'\f0f4';
$icon-batterycharging:'\f0f3';
$icon-batteryeighty:'\f0f9';
$icon-batteryempty:'\f0f5';
$icon-batteryforty:'\f0f7';
$icon-batteryfull:'\f0fa';
$icon-batterysixty:'\f0f8';
$icon-batterytwenty:'\f0f6';
$icon-bed:'\f2b9';
$icon-beer:'\f244';
$icon-bell:'\2407';
$icon-bigger:'\f30a';
$icon-bill:'\f278';
$icon-binary:'\f087';
$icon-binoculars-searchalt:'\f2a0';
$icon-birdhouse:'\f390';
$icon-birthday:'\f36b';
$icon-bishop:'\f2f9';
$icon-blackberry:'\f421';
$icon-blankstare:'\f13e';
$icon-blogger-blog:'\f167';
$icon-bluetooth:'\f12b';
$icon-bluetoothconnected:'\f386';
$icon-boardgame:'\f2d9';
$icon-boat:'\f21a';
$icon-bold:'\f1f4';
$icon-bomb:'\f2dc';
$icon-bone:'\f35f';
$icon-book:'\f1ba';
$icon-bookmark:'\f143';
$icon-boombox:'\f195';
$icon-bottle:'\f361';
$icon-bow:'\f2ee';
$icon-bowling:'\f2f3';
$icon-bowlingpins:'\f3d2';
$icon-bowtie:'\f37f';
$icon-boxtrapper-mousetrap:'\f046';
$icon-braces:'\f0b4';
$icon-braille0:'\f44b';
$icon-braille1:'\f44c';
$icon-braille2:'\f44d';
$icon-braille3:'\f44e';
$icon-braille4:'\f44f';
$icon-braille5:'\f450';
$icon-braille6:'\f451';
$icon-braille7:'\f452';
$icon-braille8:'\f453';
$icon-braille9:'\f454';
$icon-braillea:'\f431';
$icon-brailleb:'\f432';
$icon-braillec:'\f433';
$icon-brailled:'\f434';
$icon-braillee:'\f435';
$icon-braillef:'\f436';
$icon-brailleg:'\f437';
$icon-brailleh:'\f438';
$icon-braillei:'\f439';
$icon-braillej:'\f43a';
$icon-braillek:'\f43b';
$icon-braillel:'\f43c';
$icon-braillem:'\f43d';
$icon-braillen:'\f43e';
$icon-brailleo:'\f43f';
$icon-braillep:'\f440';
$icon-brailleq:'\f441';
$icon-brailler:'\f442';
$icon-brailles:'\f443';
$icon-braillespace:'\f455';
$icon-braillet:'\f444';
$icon-brailleu:'\f445';
$icon-braillev:'\f446';
$icon-braillew:'\f447';
$icon-braillex:'\f448';
$icon-brailley:'\f449';
$icon-braillez:'\f44a';
$icon-brain:'\f3e3';
$icon-bread:'\f42f';
$icon-breakable:'\f41c';
$icon-briefcase:'\f25e';
$icon-briefcasethree:'\f25f';
$icon-briefcasetwo:'\f0a2';
$icon-brightness:'\f10a';
$icon-brightnessfull:'\f10b';
$icon-brightnesshalf:'\f10c';
$icon-broom:'\f40a';
$icon-browser:'\f159';
$icon-brush:'\f1b8';
$icon-bucket:'\f1b5';
$icon-bug:'\f0a7';
$icon-bullhorn:'\f287';
$icon-bus:'\f241';
$icon-businesscardalt:'\f137';
$icon-buttona:'\f2bf';
$icon-buttonb:'\f2c0';
$icon-buttonx:'\f2c1';
$icon-buttony:'\f2c2';
$icon-cactus-desert:'\f22c';
$icon-calculator:'\f258';
$icon-calculatoralt:'\f265';
$icon-calendar:'\f20f';
$icon-calendaralt-cronjobs:'\f0a1';
$icon-camera:'\f19b';
$icon-candle:'\f29a';
$icon-candy:'\f42d';
$icon-candycane:'\f37d';
$icon-cannon:'\f401';
$icon-canvas:'\f1c8';
$icon-canvasrulers:'\f205';
$icon-capacitator:'\f3e8';
$icon-capslock:'\21ea';
$icon-captainamerica:'\f341';
$icon-carrot:'\f3f2';
$icon-cashregister:'\f26e';
$icon-cassette:'\f377';
$icon-cd-dvd:'\f0cd';
$icon-certificate:'\f277';
$icon-certificatealt:'\f058';
$icon-certificatethree:'\f059';
$icon-cgi:'\f086';
$icon-cgicenter:'\f079';
$icon-chair:'\2441';
$icon-chat:'\f162';
$icon-check:'\f310';
$icon-checkboxalt:'\f311';
$icon-checkin:'\f223';
$icon-checkinalt:'\f227';
$icon-chef:'\f3ce';
$icon-cherry:'\f35d';
$icon-chevron-down:'\f48b';
$icon-chevron-left:'\f489';
$icon-chevron-right:'\f488';
$icon-chevron-up:'\f48a';
$icon-chevrons:'\f0b5';
$icon-chicken:'\f359';
$icon-chocolate:'\f367';
$icon-christiancross:'\f40f';
$icon-christmastree:'\f37b';
$icon-chrome:'\f14e';
$icon-cigarette:'\f229';
$icon-circle-arrow-down:'\f475';
$icon-circle-arrow-left:'\f472';
$icon-circle-arrow-right:'\f473';
$icon-circle-arrow-up:'\f474';
$icon-circleadd:'\f0d1';
$icon-circledelete:'\f0d2';
$icon-circledown:'\f3c7';
$icon-circleleft:'\f3c6';
$icon-circleright:'\f3c9';
$icon-circleselect:'\f0d3';
$icon-circleselection:'\f1b1';
$icon-circleup:'\f3c8';
$icon-clearformatting:'\f1e7';
$icon-clipboard-paste:'\f0cb';
$icon-clockalt-timealt:'\f22b';
$icon-closetab:'\f170';
$icon-closewindow:'\f16e';
$icon-cloud:'\f0b9';
$icon-clouddownload:'\f0bb';
$icon-cloudhosting:'\f007';
$icon-cloudsync:'\f0bc';
$icon-cloudupload:'\f0ba';
$icon-clubs:'\f2f6';
$icon-cmd:'\f33a';
$icon-cms:'\f036';
$icon-cmsmadesimple:'\f0b0';
$icon-codeigniter:'\f077';
$icon-coffee:'\f235';
$icon-coffeebean:'\f366';
$icon-cog:'\f00f';
$icon-colocation:'\f024';
$icon-colocationalt:'\f023';
$icon-colors:'\f1e6';
$icon-comment:'\f12c';
$icon-commentout:'\f080';
$icon-commentround:'\f155';
$icon-commentroundempty:'\f156';
$icon-commentroundtyping:'\f157';
$icon-commentroundtypingempty:'\f158';
$icon-commenttyping:'\f12d';
$icon-compass:'\263c';
$icon-concretefive:'\f0af';
$icon-contact-businesscard:'\f040';
$icon-controllernes:'\f2d2';
$icon-controllerps:'\f2d1';
$icon-controllersnes:'\f2d3';
$icon-controlpanel:'\f008';
$icon-controlpanelalt:'\f009';
$icon-cooling:'\f00a';
$icon-coppermine:'\f0a4';
$icon-copy:'\f0c9';
$icon-copyright:'\00a9';
$icon-coupon:'\f254';
$icon-cpanel:'\f072';
$icon-cplusplus:'\f0b1';
$icon-cpu-processor:'\f002';
$icon-cpualt-processoralt:'\f003';
$icon-crayon:'\f383';
$icon-createfile:'\f0c6';
$icon-createfolder:'\f0da';
$icon-creativecommons:'\f1fc';
$icon-creditcard:'\f279';
$icon-cricket:'\f418';
$icon-croisant:'\f29f';
$icon-crop:'\f1af';
$icon-crown:'\f28f';
$icon-csharp:'\f0b2';
$icon-cssthree:'\f06a';
$icon-cup-coffeealt:'\f24b';
$icon-cupcake:'\f35b';
$icon-curling:'\f3d7';
$icon-cursor:'\f0dc';
$icon-cut-scissors:'\f0ca';
$icon-dagger:'\2020';
$icon-danger:'\f415';
$icon-dart:'\f3d4';
$icon-darthvader:'\f34a';
$icon-database:'\f00b';
$icon-databaseadd:'\f00c';
$icon-databasedelete:'\f00d';
$icon-davidstar:'\f40e';
$icon-dcsource:'\f3e9';
$icon-dedicatedserver:'\f00e';
$icon-deletefile:'\f0c7';
$icon-deletefolder:'\f0db';
$icon-delicious:'\f152';
$icon-designcontest:'\f351';
$icon-desklamp:'\f412';
$icon-dialpad:'\f399';
$icon-diamond:'\2666';
$icon-diamonds:'\f2f7';
$icon-die-dice:'\f2d8';
$icon-diefive:'\f3fb';
$icon-diefour:'\f3fa';
$icon-dieone:'\f3f7';
$icon-diesix:'\f3fc';
$icon-diethree:'\f3f9';
$icon-dietwo:'\f3f8';
$icon-diode:'\f3e7';
$icon-director:'\f2ae';
$icon-diskspace:'\f096';
$icon-distributehorizontalcenters:'\f1dc';
$icon-distributeverticalcenters:'\f1db';
$icon-divide:'\00f7';
$icon-dna:'\f409';
$icon-dnszone:'\f07f';
$icon-document:'\f0c2';
$icon-doghouse:'\f38f';
$icon-dollar:'\24';
$icon-dollaralt:'\f259';
$icon-dolphinsoftware:'\f064';
$icon-domain:'\f01d';
$icon-domainaddon:'\f053';
$icon-domino:'\f3d5';
$icon-donut:'\f3ca';
$icon-downleft:'\f2ff';
$icon-download:'\f47b';
$icon-download-alt:'\f11a';
$icon-downright:'\f300';
$icon-draft:'\f172';
$icon-dreamweaver:'\f1d0';
$icon-dribbble:'\f14c';
$icon-dropmenu:'\f0a5';
$icon-drupal:'\f075';
$icon-drwho:'\f3c0';
$icon-edit:'\f47c';
$icon-editalt:'\f0f2';
$icon-egg:'\f407';
$icon-eightball:'\f36e';
$icon-eject:'\f199';
$icon-elipse:'\f1bc';
$icon-emailalt:'\f136';
$icon-emailexport:'\f176';
$icon-emailforward:'\f175';
$icon-emailforwarders:'\f049';
$icon-emailimport:'\f177';
$icon-emailrefresh:'\f174';
$icon-emailtrace:'\f091';
$icon-emergency:'\f246';
$icon-emptycart:'\f395';
$icon-enter:'\f323';
$icon-envelope:'\f028';
$icon-equalizer:'\f18e';
$icon-equalizeralt:'\f18f';
$icon-equals:'\f30c';
$icon-eraser:'\f1f1';
$icon-erroralt:'\f05a';
$icon-euro:'\20ac';
$icon-euroalt:'\f25a';
$icon-evernote:'\f17c';
$icon-exchange-currency:'\f26b';
$icon-exclamation-sign:'\f04a';
$icon-excludeshape:'\f200';
$icon-exit:'\f324';
$icon-explorerwindow:'\f0d9';
$icon-exportfile:'\f32f';
$icon-exposure:'\f1de';
$icon-extinguisher:'\f2b7';
$icon-eye-close:'\f481';
$icon-eye-open:'\f2b5';
$icon-eye-view:'\f280';
$icon-eyedropper:'\f1ad';
$icon-facebook:'\f140';
$icon-facebookalt:'\f14b';
$icon-facetime-video:'\f19c';
$icon-factory:'\f27a';
$icon-fantastico:'\f0ae';
$icon-faq:'\f099';
$icon-fast-backward:'\f47e';
$icon-fast-forward:'\f47f';
$icon-fastdown:'\f31d';
$icon-fastleft:'\f31a';
$icon-fastright:'\f31b';
$icon-fastup:'\f31c';
$icon-favoritefile:'\f381';
$icon-favoritefolder:'\f382';
$icon-featheralt-write:'\f1c5';
$icon-fedora:'\f3f1';
$icon-fence:'\f2af';
$icon-file:'\f0d6';
$icon-film:'\f19d';
$icon-filmstrip:'\f3ed';
$icon-filter:'\f05c';
$icon-finder:'\f398';
$icon-fire:'\f27f';
$icon-firefox:'\f420';
$icon-firewall:'\f021';
$icon-firewire:'\f0fc';
$icon-firstaid:'\f2ba';
$icon-fish:'\f35a';
$icon-fishbone:'\f42b';
$icon-flag:'\f487';
$icon-flagalt:'\f232';
$icon-flagtriangle:'\f20b';
$icon-flash:'\f1cf';
$icon-flashlight:'\f299';
$icon-flashplayer:'\f070';
$icon-flaskfull:'\f27e';
$icon-flickr:'\f146';
$icon-flower:'\f2a5';
$icon-flowernew:'\f3a8';
$icon-folder-close:'\f094';
$icon-folder-open:'\f483';
$icon-foldertree:'\f0f0';
$icon-font:'\f1ae';
$icon-foodtray:'\f3d0';
$icon-football-soccer:'\f2eb';
$icon-forbiddenalt:'\f314';
$icon-forest-tree:'\f217';
$icon-forestalt-treealt:'\f21c';
$icon-fork:'\22d4';
$icon-forklift:'\f29b';
$icon-form:'\f08c';
$icon-forrst:'\f14d';
$icon-fort:'\f400';
$icon-forward:'\f182';
$icon-fourohfour:'\f09d';
$icon-foursquare:'\f42a';
$icon-freeway:'\f24a';
$icon-fridge:'\f40d';
$icon-fries:'\f36a';
$icon-ftp:'\f029';
$icon-ftpaccounts:'\f07b';
$icon-ftpsession:'\f07c';
$icon-fullscreen:'\f485';
$icon-gameboy:'\f403';
$icon-gamecursor:'\f2d0';
$icon-gasstation:'\f216';
$icon-gearfour:'\f3a7';
$icon-ghost:'\f2da';
$icon-gift:'\f260';
$icon-github:'\f081';
$icon-glass:'\f236';
$icon-glasses:'\f295';
$icon-glassesalt:'\f39d';
$icon-globe:'\f01b';
$icon-globealt:'\f36c';
$icon-glue:'\f36d';
$icon-gmail:'\f150';
$icon-golf:'\f2f1';
$icon-googledrive:'\f163';
$icon-googleplus:'\f165';
$icon-googlewallet:'\f270';
$icon-gpsoff-gps:'\f21e';
$icon-gpson:'\f21f';
$icon-gpu-graphicscard:'\f108';
$icon-gradient:'\2207';
$icon-grails:'\f085';
$icon-greenlantern:'\f340';
$icon-greenlightbulb:'\f406';
$icon-grooveshark:'\f3a2';
$icon-groups-friends:'\f134';
$icon-guitar:'\f19a';
$icon-halflife:'\f3ba';
$icon-halo:'\f3bb';
$icon-hamburger:'\f2b3';
$icon-hammer:'\f291';
$icon-hand-down:'\f387';
$icon-hand-left:'\f389';
$icon-hand-right:'\f388';
$icon-hand-up:'\f0dd';
$icon-handcuffs:'\f393';
$icon-handdrag:'\f0de';
$icon-handtwofingers:'\f0df';
$icon-hanger:'\f2ab';
$icon-happy:'\f13c';
$icon-harrypotter:'\f38b';
$icon-hdd:'\f02a';
$icon-hdtv:'\f1a0';
$icon-headphones:'\f180';
$icon-headphonesalt:'\f1a3';
$icon-heart:'\f131';
$icon-heartempty-love:'\f132';
$icon-hearts:'\f2f4';
$icon-helicopter:'\f3e4';
$icon-hexagon-polygon:'\f1be';
$icon-hockey:'\f3d9';
$icon-home:'\21b8';
$icon-homealt:'\f02b';
$icon-hospital:'\f247';
$icon-hotdog:'\f3cc';
$icon-hotlinkprotection:'\f050';
$icon-hourglassalt:'\f122';
$icon-html:'\f068';
$icon-htmlfive:'\f069';
$icon-hydrant:'\f3ff';
$icon-icecream:'\f2a4';
$icon-icecreamalt:'\f289';
$icon-illustrator:'\f1ce';
$icon-imac:'\f0fb';
$icon-images-gallery:'\f09f';
$icon-importcontacts:'\f092';
$icon-importfile:'\f32e';
$icon-inbox:'\f17a';
$icon-inboxalt:'\f178';
$icon-incomingcall:'\f15d';
$icon-indent-left:'\f1f2';
$icon-indent-right:'\f1f3';
$icon-indexmanager:'\f09e';
$icon-infinity:'\221e';
$icon-info-sign:'\f315';
$icon-infographic:'\f336';
$icon-ink:'\f3f6';
$icon-inkpen:'\f1ac';
$icon-insertbarchart:'\f1e5';
$icon-insertpicture:'\f1e0';
$icon-insertpicturecenter:'\f1e3';
$icon-insertpictureleft:'\f1e1';
$icon-insertpictureright:'\f1e2';
$icon-insertpiechart:'\f1e4';
$icon-instagram:'\f14a';
$icon-install:'\f128';
$icon-intel:'\f01f';
$icon-intersection:'\2229';
$icon-intersectshape:'\f1ff';
$icon-invert:'\f1df';
$icon-invoice:'\f3e5';
$icon-ipcontrol:'\f08b';
$icon-iphone:'\f0e6';
$icon-ipod:'\f190';
$icon-ironman:'\f349';
$icon-islam:'\f410';
$icon-island:'\f392';
$icon-italic:'\f1f5';
$icon-jar:'\f2b6';
$icon-jason:'\f38c';
$icon-java:'\f083';
$icon-joomla:'\f073';
$icon-joystickarcade:'\f2d4';
$icon-joystickatari:'\f2d5';
$icon-jquery:'\f06b';
$icon-jqueryui:'\f06c';
$icon-kerning:'\f1e9';
$icon-key:'\f093';
$icon-keyboard:'\f119';
$icon-keyboardalt:'\f105';
$icon-keyboarddelete:'\f3a6';
$icon-kidney:'\f3e0';
$icon-king:'\f2fc';
$icon-knife:'\f214';
$icon-knight:'\f2fb';
$icon-knob:'\f376';
$icon-lab-flask:'\f27d';
$icon-lamp:'\f2b1';
$icon-lan:'\f0ee';
$icon-language:'\f042';
$icon-laptop:'\f0d8';
$icon-lasso:'\f396';
$icon-lastfm:'\f3a3';
$icon-laugh:'\f13f';
$icon-law:'\f263';
$icon-layers:'\f1ca';
$icon-layersalt:'\f1cb';
$icon-leaf:'\f039';
$icon-leechprotect:'\f07e';
$icon-legacyfilemanager:'\f095';
$icon-lego:'\f370';
$icon-lifeempty:'\f2e1';
$icon-lifefull:'\f2e3';
$icon-lifehacker:'\f380';
$icon-lifehalf:'\f2e2';
$icon-lifepreserver:'\f015';
$icon-lightbulb-idea:'\f338';
$icon-lighthouse:'\f3e6';
$icon-lightning:'\f231';
$icon-lightningalt:'\f2a8';
$icon-line:'\f1bf';
$icon-lineheight:'\f1c0';
$icon-link:'\f022';
$icon-linkalt:'\f333';
$icon-linkedin:'\f166';
$icon-linux:'\f01a';
$icon-list:'\f111';
$icon-list-alt:'\f480';
$icon-liver:'\f3e2';
$icon-loading-hourglass:'\f123';
$icon-loadingalt:'\f339';
$icon-lock:'\f0be';
$icon-lockalt-keyhole:'\f0eb';
$icon-lollypop:'\f3ee';
$icon-lungs:'\f3df';
$icon-macpro:'\f3a5';
$icon-macro-plant:'\f1c6';
$icon-magazine:'\f1ec';
$icon-magento:'\f06e';
$icon-magnet:'\f281';
$icon-mailbox:'\f044';
$icon-mailinglists:'\f090';
$icon-man-male:'\f2a1';
$icon-managedhosting:'\f038';
$icon-map:'\f209';
$icon-map-marker:'\f220';
$icon-marker:'\f204';
$icon-marvin:'\f3dd';
$icon-mastercard:'\f266';
$icon-maximize:'\f30f';
$icon-medal:'\f2e5';
$icon-medalbronze:'\f2e8';
$icon-medalgold:'\f2e6';
$icon-medalsilver:'\f2e7';
$icon-mediarepeat:'\f187';
$icon-men:'\f24c';
$icon-menu:'\f127';
$icon-merge:'\f334';
$icon-mergecells:'\f327';
$icon-mergeshapes:'\f201';
$icon-metro-subway:'\f24f';
$icon-metronome:'\f374';
$icon-mickeymouse:'\f37a';
$icon-microphone:'\f191';
$icon-microscope:'\f283';
$icon-microsd:'\f107';
$icon-microwave:'\f42e';
$icon-mimetype:'\f057';
$icon-minimize:'\f30e';
$icon-minus:'\2212';
$icon-minus-sign:'\f477';
$icon-missedcall:'\f15c';
$icon-mobile:'\f0e8';
$icon-moleskine:'\f1f0';
$icon-money-cash:'\f27b';
$icon-moneybag:'\f271';
$icon-monitor:'\f0d5';
$icon-monstersinc:'\f3bd';
$icon-moon-night:'\f207';
$icon-mouse:'\f0d4';
$icon-mousealt:'\f126';
$icon-move:'\f322';
$icon-movieclapper:'\f193';
$icon-moviereel:'\f17f';
$icon-muffin:'\f363';
$icon-mug:'\f24e';
$icon-mushroom:'\f35e';
$icon-music:'\f181';
$icon-musicalt:'\f18d';
$icon-mutealt:'\f0e5';
$icon-mxentry:'\f07a';
$icon-mybb:'\f065';
$icon-myspace:'\f153';
$icon-mysql-dolphin:'\f076';
$icon-nail:'\f428';
$icon-navigation:'\f23a';
$icon-network:'\f0a6';
$icon-networksignal:'\f3a9';
$icon-news:'\f256';
$icon-newtab:'\f16f';
$icon-newwindow:'\f16d';
$icon-next:'\f18a';
$icon-nexus:'\f0e7';
$icon-nintendods:'\f404';
$icon-nodejs:'\f084';
$icon-notes:'\f0d7';
$icon-notificationbottom:'\f144';
$icon-notificationtop:'\f145';
$icon-nut:'\f427';
$icon-off:'\f11d';
$icon-office-building:'\f245';
$icon-officechair:'\f26d';
$icon-ok:'\2713';
$icon-ok-circle:'\f471';
$icon-ok-sign:'\f479';
$icon-oneup:'\f3b7';
$icon-oneupalt:'\f3b6';
$icon-opencart:'\f060';
$icon-opennewwindow:'\f332';
$icon-orange:'\f29e';
$icon-outbox:'\f179';
$icon-outgoingcall:'\f15e';
$icon-oxwall:'\f06d';
$icon-pacman:'\f2db';
$icon-pageback:'\f31e';
$icon-pagebreak:'\f1cc';
$icon-pageforward:'\f31f';
$icon-pagesetup:'\f331';
$icon-paintbrush:'\f1e8';
$icon-paintroll:'\f1fa';
$icon-palette-painting:'\f1b9';
$icon-paperclip:'\f284';
$icon-paperclipalt:'\f285';
$icon-paperclipvertical:'\f286';
$icon-paperplane:'\f296';
$icon-parentheses:'\f3c4';
$icon-parkeddomain:'\f055';
$icon-password:'\f03e';
$icon-passwordalt:'\f03f';
$icon-pasta:'\f408';
$icon-patch:'\f2a3';
$icon-path:'\f169';
$icon-pause:'\f186';
$icon-paw-pet:'\f29d';
$icon-pawn:'\f2f8';
$icon-paypal:'\f267';
$icon-peace:'\f2a7';
$icon-pen:'\f1ee';
$icon-pencil:'\f1b7';
$icon-pepperoni:'\f364';
$icon-percent:'\25';
$icon-perl-camel:'\f0b6';
$icon-perlalt:'\f0b7';
$icon-phone-call:'\f14f';
$icon-phonealt:'\f15b';
$icon-phonebook:'\f149';
$icon-phonebookalt:'\f135';
$icon-phonemic:'\f391';
$icon-phoneold:'\f148';
$icon-photoshop:'\f1cd';
$icon-php:'\f09c';
$icon-phpbb:'\f063';
$icon-phppear:'\f09b';
$icon-piano:'\f19e';
$icon-picture:'\22b7';
$icon-pictureframe:'\f41e';
$icon-piggybank:'\f257';
$icon-pigpena:'\f456';
$icon-pigpenb:'\f457';
$icon-pigpenc:'\f458';
$icon-pigpend:'\f459';
$icon-pigpene:'\f45a';
$icon-pigpenf:'\f45b';
$icon-pigpeng:'\f45c';
$icon-pigpenh:'\f45d';
$icon-pigpeni:'\f45e';
$icon-pigpenj:'\f45f';
$icon-pigpenk:'\f460';
$icon-pigpenl:'\f461';
$icon-pigpenm:'\f462';
$icon-pigpenn:'\f463';
$icon-pigpeno:'\f464';
$icon-pigpenp:'\f465';
$icon-pigpenq:'\f466';
$icon-pigpenr:'\f467';
$icon-pigpens:'\f468';
$icon-pigpent:'\f469';
$icon-pigpenu:'\f46a';
$icon-pigpenv:'\f46b';
$icon-pigpenw:'\f46c';
$icon-pigpenx:'\f46d';
$icon-pigpeny:'\f46e';
$icon-pigpenz:'\f46f';
$icon-pilcrow:'\00b6';
$icon-pill-antivirusalt:'\f0aa';
$icon-pin:'\f20a';
$icon-pipe:'\01c0';
$icon-piwigo:'\f0ad';
$icon-pizza:'\f35c';
$icon-placeadd:'\f221';
$icon-placealt:'\f224';
$icon-placealtadd:'\f225';
$icon-placealtdelete:'\f226';
$icon-placedelete:'\f222';
$icon-placeios:'\f20c';
$icon-plane:'\f23e';
$icon-plaque:'\f2b8';
$icon-play:'\f184';
$icon-play-circle:'\f17e';
$icon-playstore:'\f255';
$icon-playvideo:'\f03d';
$icon-plug:'\f0ea';
$icon-pluginalt:'\f098';
$icon-plus:'\002b';
$icon-plus-sign:'\f476';
$icon-pocket:'\f16b';
$icon-podcast:'\f1a2';
$icon-podium-winner:'\f2d6';
$icon-pokemon:'\f354';
$icon-police:'\f2aa';
$icon-polygonlasso:'\f397';
$icon-post:'\f12e';
$icon-postalt:'\f130';
$icon-pound:'\f25b';
$icon-poundalt:'\f25c';
$icon-powerjack:'\f0fd';
$icon-powerplug:'\f0ed';
$icon-powerplugeu:'\f28b';
$icon-powerplugus:'\f28c';
$icon-presentation:'\f0c4';
$icon-prestashop:'\f061';
$icon-pretzel:'\f3cf';
$icon-preview:'\f330';
$icon-previous:'\f18b';
$icon-print:'\f125';
$icon-protecteddirectory:'\f04d';
$icon-pscircle:'\f2bb';
$icon-pscursor:'\f2c3';
$icon-psdown:'\f2c6';
$icon-psleft:'\f2c7';
$icon-pslone:'\f2cc';
$icon-psltwo:'\f2cd';
$icon-psright:'\f2c5';
$icon-psrone:'\f2ce';
$icon-psrtwo:'\f2cf';
$icon-pssquare:'\f2bc';
$icon-pstriangle:'\f2bd';
$icon-psup:'\f2c4';
$icon-psx:'\f2be';
$icon-pull:'\f089';
$icon-punisher:'\f343';
$icon-push:'\f088';
$icon-puzzle-plugin:'\f0a0';
$icon-python:'\f071';
$icon-qrcode:'\f275';
$icon-quake:'\f355';
$icon-queen:'\f2fd';
$icon-query:'\f08a';
$icon-question-sign:'\f0a3';
$icon-quote:'\f12f';
$icon-quotedown:'\f329';
$icon-quoteup:'\f328';
$icon-raceflag:'\f38e';
$icon-racquet:'\f2f2';
$icon-radio:'\f1a1';
$icon-radioactive:'\f282';
$icon-radiobutton:'\f312';
$icon-railroad:'\f248';
$icon-rain:'\f22f';
$icon-ram:'\f02c';
$icon-random:'\f188';
$icon-rar:'\f117';
$icon-raspberry:'\f368';
$icon-raspberrypi:'\f369';
$icon-rawaccesslogs:'\f0c1';
$icon-razor:'\f416';
$icon-reademail:'\f173';
$icon-record:'\f189';
$icon-rectangle:'\25ad';
$icon-recycle:'\f297';
$icon-reddit:'\f154';
$icon-redirect:'\f054';
$icon-refresh:'\f078';
$icon-reliability:'\f016';
$icon-remote:'\f298';
$icon-remove:'\00d7';
$icon-remove-circle:'\f470';
$icon-remove-sign:'\f478';
$icon-removefriend:'\f3db';
$icon-repeat:'\f32b';
$icon-repeatone:'\f196';
$icon-resellerhosting:'\f03a';
$icon-residentevil:'\f350';
$icon-resistor:'\f3eb';
$icon-resize:'\f1ed';
$icon-resize-full:'\f325';
$icon-resize-horizontal:'\f318';
$icon-resize-small:'\f326';
$icon-resize-vertical:'\f319';
$icon-restart:'\f11f';
$icon-restaurantmenu:'\f362';
$icon-restore:'\f30d';
$icon-restricted:'\f0ab';
$icon-retweet:'\f486';
$icon-rim:'\f36f';
$icon-ring:'\02da';
$icon-road:'\f249';
$icon-roadsign-roadsignright:'\f21b';
$icon-roadsignleft:'\f240';
$icon-robocop:'\f357';
$icon-rocket-launch:'\f29c';
$icon-rook:'\f2fa';
$icon-root:'\f33c';
$icon-rorschach:'\f358';
$icon-rotateclockwise:'\f202';
$icon-rotatecounterclockwise:'\f203';
$icon-roundrectangle:'\f1bd';
$icon-route:'\f402';
$icon-router:'\f0e9';
$icon-rss:'\f17b';
$icon-rubberstamp:'\f274';
$icon-ruby:'\f067';
$icon-ruler:'\f1ef';
$icon-sad:'\f13d';
$icon-safetypin:'\f417';
$icon-satellite:'\f38a';
$icon-satellitedish-remotemysql:'\f0c0';
$icon-save-floppy:'\f0c8';
$icon-scales:'\f3fd';
$icon-science-atom:'\f2b0';
$icon-scope-scan:'\f212';
$icon-scopealt:'\f237';
$icon-screenshot:'\f109';
$icon-screw:'\f426';
$icon-screwdriver:'\f292';
$icon-screwdriveralt:'\f293';
$icon-script:'\f08d';
$icon-sd:'\f106';
$icon-search:'\f0c5';
$icon-searchdocument:'\f419';
$icon-searchfolder:'\f41a';
$icon-security-shield:'\f02d';
$icon-securityalt-shieldalt:'\f02e';
$icon-selection-rectangleselection:'\f1b0';
$icon-selectionadd:'\f1b2';
$icon-selectionintersect:'\f1b4';
$icon-selectionremove:'\f1b3';
$icon-seo:'\f030';
$icon-server:'\f026';
$icon-servers:'\f027';
$icon-settingsandroid:'\f309';
$icon-settingsfour-gearsalt:'\f306';
$icon-settingsthree-gears:'\f307';
$icon-settingstwo-gearalt:'\f308';
$icon-shades-sunglasses:'\f294';
$icon-shapes:'\f1dd';
$icon-share:'\f47d';
$icon-share-alt:'\f16c';
$icon-sharealt:'\f147';
$icon-sharedfile:'\f0ef';
$icon-sharedhosting:'\f037';
$icon-sharethree:'\f414';
$icon-sheriff:'\f2a9';
$icon-shipping:'\f23f';
$icon-shopping:'\f010';
$icon-shopping-cart:'\f035';
$icon-shoppingbag:'\f273';
$icon-shortcut:'\f043';
$icon-shovel:'\f290';
$icon-shredder:'\f27c';
$icon-shutdown:'\f11e';
$icon-sidebar:'\f124';
$icon-signal:'\f100';
$icon-sim:'\f0e1';
$icon-simalt:'\f121';
$icon-skrill:'\f268';
$icon-skull:'\f38d';
$icon-skype:'\f141';
$icon-skypeaway:'\f39f';
$icon-skypebusy:'\f3a0';
$icon-skypeoffline:'\f3a1';
$icon-skypeonline:'\f39e';
$icon-smaller:'\f30b';
$icon-smf:'\f062';
$icon-smile:'\263a';
$icon-snow:'\f22e';
$icon-snowman:'\f37c';
$icon-socialnetwork:'\f03b';
$icon-software:'\f09a';
$icon-sortbynameascending-atoz:'\f1c2';
$icon-sortbynamedescending-ztoa:'\f1c1';
$icon-sortbysizeascending:'\f1c3';
$icon-sortbysizedescending:'\f1c4';
$icon-soundwave:'\f194';
$icon-soup:'\f3d1';
$icon-spaceinvaders:'\f352';
$icon-spades:'\f2f5';
$icon-spam:'\f047';
$icon-spamalt:'\f048';
$icon-spawn:'\f344';
$icon-speaker:'\f372';
$icon-speed:'\f40b';
$icon-spider:'\f346';
$icon-spiderman:'\f347';
$icon-split:'\f335';
$icon-spoon:'\f213';
$icon-spray:'\f1c7';
$icon-spreadsheet:'\f0c3';
$icon-squareapp:'\f26f';
$icon-squarebrackets:'\f0b3';
$icon-ssh:'\f04e';
$icon-sslmanager:'\f04f';
$icon-stadium:'\f3d6';
$icon-stamp:'\f242';
$icon-stampalt:'\f243';
$icon-star:'\f13a';
$icon-star-empty:'\f13b';
$icon-starempty:'\f2de';
$icon-starfull:'\f2e0';
$icon-starhalf:'\f2df';
$icon-steak:'\f360';
$icon-steam:'\f2dd';
$icon-step-backward:'\f198';
$icon-step-forward:'\f197';
$icon-sticker:'\f3f5';
$icon-stiletto:'\f429';
$icon-stockdown:'\f252';
$icon-stocks:'\f250';
$icon-stockup:'\f251';
$icon-stomach:'\f3e1';
$icon-stop:'\f185';
$icon-stopwatch:'\f219';
$icon-storage-box:'\f011';
$icon-storagealt-drawer:'\f012';
$icon-store:'\f272';
$icon-storm:'\f230';
$icon-stove:'\f371';
$icon-strawberry:'\f3f3';
$icon-strikethrough:'\f1f7';
$icon-student-school:'\f288';
$icon-stumbleupon:'\f40c';
$icon-subdomain:'\f052';
$icon-submarine:'\f373';
$icon-subscript:'\f1ea';
$icon-subtractshape:'\f1fe';
$icon-sum:'\f33b';
$icon-sun-day:'\f206';
$icon-sunnysideup:'\f365';
$icon-superman:'\f33f';
$icon-superscript:'\f1eb';
$icon-support:'\f013';
$icon-supportalt:'\f014';
$icon-switch:'\f28a';
$icon-switchoff:'\f32d';
$icon-switchoffalt:'\f28e';
$icon-switchon:'\f32c';
$icon-switchonalt:'\f28d';
$icon-sword:'\f2ed';
$icon-sync:'\f0bd';
$icon-syncalt:'\f11c';
$icon-synckeeplocal:'\f33e';
$icon-synckeepserver:'\f33d';
$icon-syringe-antivirus:'\f0a9';
$icon-tablet:'\f118';
$icon-tabletennis-pingpong:'\f2f0';
$icon-taco:'\f3cd';
$icon-tag:'\f032';
$icon-tagalt-pricealt:'\f264';
$icon-tags:'\f482';
$icon-tagvertical:'\f15f';
$icon-tank:'\f423';
$icon-target:'\f2a6';
$icon-taskmanager-logprograms:'\f04b';
$icon-tasks:'\f0e0';
$icon-taxi:'\f3a4';
$icon-tea:'\f3cb';
$icon-teapot:'\f42c';
$icon-telescope:'\f3ef';
$icon-temperature-thermometer:'\f20d';
$icon-temperaturealt-thermometeralt:'\f20e';
$icon-tennis:'\f2ea';
$icon-tent-camping:'\f215';
$icon-terminal:'\f114';
$icon-tethering:'\f0f1';
$icon-tetrisone:'\f34b';
$icon-tetristhree:'\f34d';
$icon-tetristwo:'\f34c';
$icon-text-height:'\f1f8';
$icon-text-width:'\f1f9';
$icon-th:'\f110';
$icon-th-large:'\f112';
$icon-th-list:'\f113';
$icon-theather:'\f39c';
$icon-theme-style:'\f041';
$icon-thissideup:'\f41d';
$icon-threecolumns:'\f1ab';
$icon-thumbs-down:'\f139';
$icon-thumbs-up:'\f138';
$icon-ticket:'\f3dc';
$icon-tictactoe:'\f39a';
$icon-tie-business:'\2040';
$icon-time:'\f210';
$icon-timeline:'\f253';
$icon-tint:'\f208';
$icon-toast:'\f2ad';
$icon-toiletpaper:'\f384';
$icon-tooth:'\f3de';
$icon-toothbrush:'\f385';
$icon-tophat:'\f3f0';
$icon-torigate:'\f411';
$icon-touchpad:'\f115';
$icon-trafficlight:'\f22a';
$icon-transform:'\f1a6';
$icon-trash:'\f0ce';
$icon-trashempty:'\f0cf';
$icon-trashfull:'\f0d0';
$icon-travel:'\f422';
$icon-treediagram:'\f0ec';
$icon-treeornament:'\f37e';
$icon-triangle:'\25b3';
$icon-tron:'\f34f';
$icon-trophy:'\f2d7';
$icon-truck:'\f211';
$icon-trumpet:'\f375';
$icon-tumblr:'\f164';
$icon-tv:'\f1a4';
$icon-twitter:'\f16a';
$icon-twocolumnsleft:'\f1a9';
$icon-twocolumnsleftalt:'\f1aa';
$icon-twocolumnsright:'\f1a7';
$icon-twocolumnsrightalt:'\f1a8';
$icon-ubuntu:'\f120';
$icon-umbrella:'\f218';
$icon-underline:'\f1f6';
$icon-undo:'\f32a';
$icon-unlock:'\f0bf';
$icon-upleft:'\f302';
$icon-upload:'\f47a';
$icon-uploadalt:'\f11b';
$icon-upright:'\f303';
$icon-uptime:'\f017';
$icon-usb:'\f10d';
$icon-usbalt:'\f10e';
$icon-usbplug:'\f10f';
$icon-user:'\f133';
$icon-userfilter:'\f05d';
$icon-usfootball:'\f2ec';
$icon-value-coins:'\f018';
$icon-vector:'\f1b6';
$icon-vendetta:'\f3c5';
$icon-video:'\f17d';
$icon-viking:'\f379';
$icon-vimeo:'\f168';
$icon-vinyl:'\f0cc';
$icon-violin:'\f1a5';
$icon-virus:'\f0a8';
$icon-visa:'\f3c2';
$icon-visitor:'\f097';
$icon-vlc-cone:'\f192';
$icon-voice:'\f18c';
$icon-volume-down:'\f0e3';
$icon-volume-off:'\f0e4';
$icon-volume-up:'\f0e2';
$icon-vps:'\f025';
$icon-wacom:'\f1bb';
$icon-walle:'\f3bc';
$icon-wallet:'\e000';
$icon-warcraft:'\f3bf';
$icon-warmedal:'\f2e4';
$icon-warning-sign:'\f316';
$icon-washer:'\f39b';
$icon-watch:'\f378';
$icon-watertap-plumbing:'\f22d';
$icon-wave-sea:'\f23c';
$icon-wavealt-seaalt:'\f23b';
$icon-webcam:'\f0fe';
$icon-webcamalt:'\f129';
$icon-webhostinghub:'\f031';
$icon-webmail:'\f045';
$icon-webpage:'\f033';
$icon-webplatform:'\f3c3';
$icon-websitealt:'\f01c';
$icon-websitebuilder:'\f034';
$icon-weight:'\f430';
$icon-westernunion:'\f26a';
$icon-wheel:'\f228';
$icon-wheelchair:'\f3fe';
$icon-whistle:'\f3d8';
$icon-whmcs:'\f066';
$icon-wifi:'\f0ff';
$icon-wind:'\f41b';
$icon-windleft:'\f424';
$icon-windows:'\f019';
$icon-windright:'\f425';
$icon-wine:'\f238';
$icon-wizard:'\f03c';
$icon-wizardalt:'\f1fb';
$icon-wizardhat:'\f337';
$icon-woman-female:'\f2a2';
$icon-women:'\f24d';
$icon-wordpress:'\f074';
$icon-wrench:'\f05b';
$icon-wrenchalt:'\f2b2';
$icon-xbox:'\f353';
$icon-xmen:'\f345';
$icon-yahoo:'\f151';
$icon-yen:'\00a5';
$icon-yenalt:'\f25d';
$icon-yinyang:'\262f';
$icon-youtube:'\f142';
$icon-zelda:'\f3b8';
$icon-zikula:'\f0ac';
$icon-zip:'\f116';
$icon-zodiac-aquarius:'\f3b4';
$icon-zodiac-aries:'\f3aa';
$icon-zodiac-cancer:'\f3ad';
$icon-zodiac-capricorn:'\f3b3';
$icon-zodiac-gemini:'\f3ac';
$icon-zodiac-leo:'\f3ae';
$icon-zodiac-libra:'\f3b0';
$icon-zodiac-pisces:'\f3b5';
$icon-zodiac-sagitarius:'\f3b2';
$icon-zodiac-scorpio:'\f3b1';
$icon-zodiac-taurus:'\f3ab';
$icon-zodiac-virgo:'\f3af';
$icon-zoom-in:'\f320';
$icon-zoom-out:'\f321';
$icon-vk:'\f34e';
$icon-bitcoin:'\f584';
$icon-rouble:'\f4ca';
$icon-phpnuke:'\f48c';
$icon-modx:'\f48d';
$icon-eoneohseven:'\f48e';
$icon-subrion:'\f48f';
$icon-typothree:'\f490';
$icon-tikiwiki:'\f491';
$icon-pligg:'\f492';
$icon-pyrocms:'\f493';
$icon-mambo:'\f494';
$icon-contao:'\f495';
$icon-crackedegg:'\f496';
$icon-coffeecupalt:'\f497';
$icon-reademailalt:'\f498';
$icon-train:'\f499';
$icon-shoebox:'\f49a';
$icon-bathtub:'\f49b';
$icon-ninegag:'\f49c';
$icon-pebble:'\f49d';
$icon-musicthree:'\f49e';
$icon-stairsup:'\f49f';
$icon-stairsdown:'\f4a0';
$icon-bookalt:'\f4a1';
$icon-programclose:'\f4a2';
$icon-programok:'\f4a3';
$icon-splitalt:'\f4a4';
$icon-solarsystem:'\f4a5';
$icon-honeycomb:'\f4a6';
$icon-tools:'\f4a7';
$icon-xoops:'\f4a8';
$icon-pixie:'\f4a9';
$icon-dotclear:'\f4aa';
$icon-impresscms:'\f4ab';
$icon-saurus:'\f4ac';
$icon-impresspages:'\f4ad';
$icon-monstra:'\f4ae';
$icon-snews:'\f4af';
$icon-jcore:'\f4b0';
$icon-silverstripe:'\f4b1';
$icon-btwoevolution:'\f4b2';
$icon-nucleus:'\f4b3';
$icon-symphony:'\f4b5';
$icon-vanillacms:'\f4b6';
$icon-bbpress:'\f4b7';
$icon-phpbbalt:'\f4b8';
$icon-chyrp:'\f4b9';
$icon-pivotx:'\f4ba';
$icon-pagecookery:'\f4bb';
$icon-moviereelalt:'\f4bc';
$icon-cassettealt:'\f4bd';
$icon-photobucket:'\f4be';
$icon-technorati:'\f4bf';
$icon-theverge:'\f4c0';
$icon-stacks:'\f4c1';
$icon-dotlist:'\f4c2';
$icon-numberlist:'\f4c3';
$icon-indentleft:'\f4c4';
$icon-indentright:'\f4c5';
$icon-fblike:'\f4c6';
$icon-fbdislike:'\f4c7';
$icon-sale:'\f4c8';
$icon-sharetronix:'\f4c9';
$icon-markerdown:'\f4cb';
$icon-markerup:'\f4cc';
$icon-markerleft:'\f4cd';
$icon-markerright:'\f4ce';
$icon-bookmarkalt:'\f4cf';
$icon-calendarthree:'\f4d0';
$icon-wineglass:'\f4d1';
$icon-slidersoff:'\f4d2';
$icon-slidersmiddle:'\f4d3';
$icon-slidersfull:'\f4d4';
$icon-slidersdesc:'\f4d5';
$icon-slidersasc:'\f4d6';
$icon-slideronefull:'\f4d7';
$icon-slidertwofull:'\f4d8';
$icon-sliderthreefull:'\f4d9';
$icon-noborders:'\f4da';
$icon-bottomborder:'\f4db';
$icon-topborder:'\f4dc';
$icon-leftborder:'\f4dd';
$icon-rightborder:'\f4de';
$icon-horizontalborder:'\f4df';
$icon-verticalborder:'\f4e0';
$icon-outerborders:'\f4e1';
$icon-innerborders:'\f4e2';
$icon-fullborders:'\f4e3';
$icon-networksignalalt:'\f4e4';
$icon-resizeverticalalt:'\f4e5';
$icon-resizehorizontalalt:'\f4e6';
$icon-moneyalt:'\f4e7';
$icon-fontcase:'\f4e8';
$icon-playstation:'\f4e9';
$icon-cube:'\f4ea';
$icon-sphere:'\f4eb';
$icon-ceilinglight:'\f4ec';
$icon-chandelier:'\f4ed';
$icon-details:'\f4ee';
$icon-detailsalt:'\f4ef';
$icon-bullet:'\f4f0';
$icon-gun:'\f4f1';
$icon-processorthree:'\f4f2';
$icon-world:'\f4f3';
$icon-statistics:'\f4f4';
$icon-shoppingcartalt:'\f4f5';
$icon-microphonealt:'\f4f6';
$icon-routeralt:'\f4f7';
$icon-shell:'\f4f8';
$icon-squareplay:'\f4f9';
$icon-squarestop:'\f4fa';
$icon-squarepause:'\f4fb';
$icon-squarerecord:'\f4fc';
$icon-squareforward:'\f4fd';
$icon-squareback:'\f4fe';
$icon-squarenext:'\f4ff';
$icon-squareprevious:'\f500';
$icon-mega:'\f501';
$icon-charliechaplin:'\f502';
$icon-popcorn:'\f503';
$icon-fatarrowright:'\f504';
$icon-fatarrowleft:'\f505';
$icon-fatarrowdown:'\f506';
$icon-fatarrowup:'\f507';
$icon-shirtbutton:'\f508';
$icon-shirtbuttonalt:'\f509';
$icon-cuckooclock:'\f50a';
$icon-lens:'\f50b';
$icon-voltage:'\f50c';
$icon-planealt:'\f50d';
$icon-busalt:'\f50e';
$icon-lipstick:'\f50f';
$icon-plantalt:'\f510';
$icon-paperboat:'\f511';
$icon-texture:'\f512';
$icon-dominoone:'\f513';
$icon-dominotwo:'\f514';
$icon-dominothree:'\f515';
$icon-dominofour:'\f516';
$icon-dominofive:'\f517';
$icon-dominosix:'\f518';
$icon-dominoseven:'\f519';
$icon-dominoeight:'\f51a';
$icon-dominonine:'\f51b';
$icon-connected:'\f51c';
$icon-connectedpc:'\f51d';
$icon-musicsheet:'\f51e';
$icon-rdio:'\f51f';
$icon-spotify:'\f520';
$icon-deviantart:'\f521';
$icon-yelp:'\f522';
$icon-behance:'\f523';
$icon-nfc:'\f524';
$icon-earbudsalt:'\f525';
$icon-earbuds:'\f526';
$icon-amazon:'\f527';
$icon-openid:'\f528';
$icon-digg:'\f529';
$icon-retweet:'\f52a';
$icon-moonnew:'\f52b';
$icon-moonwaxingcrescent:'\f52c';
$icon-moonfirstquarter:'\f52d';
$icon-moonwaxinggibbous:'\f52e';
$icon-moonfull:'\f52f';
$icon-moonwaninggibbous:'\f530';
$icon-moonthirdquarter:'\f531';
$icon-moonwaningcrescent:'\f532';
$icon-planet:'\f533';
$icon-sodacup:'\f534';
$icon-cocktail:'\f535';
$icon-church:'\f536';
$icon-mosque:'\f537';
$icon-comedy:'\f538';
$icon-tragedy:'\f539';
$icon-bacon:'\f53a';
$icon-trailor:'\f53b';
$icon-tshirt:'\f53c';
$icon-design:'\f53d';
$icon-spiderweb:'\f53e';
$icon-fireplace:'\f53f';
$icon-tallglass:'\f540';
$icon-grapes:'\f541';
$icon-biohazard:'\f542';
$icon-directions:'\f543';
$icon-equalizerthree:'\f544';
$icon-mountains:'\f545';
$icon-bing:'\f546';
$icon-windowseight:'\f547';
$icon-microsoftoffice:'\f548';
$icon-salealt:'\f549';
$icon-purse:'\f54a';
$icon-chickenalt:'\f54b';
$icon-podium:'\f54c';
$icon-findfriends:'\f54d';
$icon-microphonethree:'\f54e';
$icon-workshirt:'\f54f';
$icon-donotdisturb:'\f550';
$icon-addtags:'\f551';
$icon-removetags:'\f556';
$icon-carbattery:'\f553';
$icon-debug:'\f554';
$icon-trojan:'\f555';
$icon-molecule:'\f556';
$icon-safetygoggles:'\f557';
$icon-leather:'\f558';
$icon-teddybear:'\f559';
$icon-stroller:'\f55a';
$icon-circleplay:'\f55b';
$icon-circlestop:'\f55c';
$icon-circlepause:'\f55d';
$icon-circlerecord:'\f55e';
$icon-circleforward:'\f55f';
$icon-circlebackward:'\f560';
$icon-circlenext:'\f561';
$icon-circleprevious:'\f562';
$icon-circleplayempty:'\f563';
$icon-circlestopempty:'\f564';
$icon-circlepauseempty:'\f565';
$icon-circlerecordempty:'\f566';
$icon-circleforwardempty:'\f567';
$icon-circlebackwardempty:'\f568';
$icon-circlenextempty:'\f569';
$icon-circlepreviousempty:'\f56a';
$icon-belt:'\f56b';
$icon-bait:'\f56c';
$icon-manalt:'\f56d';
$icon-womanalt:'\f56e';
$icon-clover:'\f56f';
$icon-pacifier:'\f570';
$icon-calcplus:'\f571';
$icon-calcminus:'\f572';
$icon-calcmultiply:'\f573';
$icon-calcdivide:'\f574';
$icon-calcequals:'\f575';
$icon-city:'\f576';
$icon-hdvideo:'\f577';
$icon-horizontalexpand:'\f578';
$icon-horizontalcontract:'\f579';
$icon-radar:'\f57a';
$icon-threed:'\f57b';
$icon-flickralt:'\f57c';
$icon-pattern:'\f57d';
$icon-elevator:'\f57e';
$icon-escalator:'\f57f';
$icon-portrait:'\f580';
$icon-cigar:'\f581';
$icon-dropbox:'\f582';
$icon-origami:'\f583';
$icon-opensource:'\f585';
$icon-redaxscript:'\f586';
$icon-mahara:'\f587';
$icon-forkcms:'\f588';
$icon-pimcore:'\f589';
$icon-bigace:'\f58a';
$icon-aef:'\f58b';
$icon-punbb:'\f58c';
$icon-phorum:'\f58d';
$icon-fluxbb:'\f58e';
$icon-minibb:'\f58f';
$icon-zenphoto:'\f590';
$icon-fourimages:'\f591';
$icon-plogger:'\f592';
$icon-jcow:'\f593';
$icon-elgg:'\f594';
$icon-etano:'\f595';
$icon-openclassifieds:'\f596';
$icon-osclass:'\f597';
$icon-openx:'\f598';
$icon-phplist:'\f599';
$icon-roundcube:'\f59a';
$icon-pommo:'\f59b';
$icon-webinsta:'\f59c';
$icon-limesurvey:'\f59d';
$icon-fengoffice:'\f59e';
$icon-eyeos:'\f59f';
$icon-dotproject:'\f5a0';
$icon-collabtive:'\f5a1';
$icon-projectpier:'\f5a2';
$icon-taskfreak:'\f5a3';
$icon-eventum:'\f5a4';
$icon-traq:'\f5a5';
$icon-mantisbugtracker:'\f5a6';
$icon-oscommerce:'\f5a7';
$icon-zencart:'\f5a8';
$icon-tomatocart:'\f5a9';
$icon-boxbilling:'\f5aa';
$icon-zurmo:'\f5ab';
$icon-orangehrm:'\f5ac';
$icon-vtiger:'\f5ad';
$icon-mibew:'\f5ae';
$icon-phpmyfaq:'\f5af';
$icon-yiiframework:'\f5b0';
$icon-zendframework:'\f5b1';
$icon-fuelphp:'\f5b2';
$icon-kohana:'\f5b3';
$icon-smarty:'\f5b4';
$icon-sidu:'\f5b5';
$icon-simplepie:'\f5b6';
$icon-projectsend:'\f5b7';
$icon-extjs:'\f5b8';
$icon-raphael:'\f5b9';
$icon-sizzle:'\f5ba';
$icon-yui:'\f5bb';
$icon-scissorsalt:'\f5bc';
$icon-cuthere:'\f5bd';
$icon-coinsalt:'\f5be';
$icon-parkingmeter:'\f5bf';
$icon-treethree:'\f5c0';
$icon-packarchive:'\f5c1';
$icon-unpackarchive:'\f5c2';
$icon-terminalalt:'\f5c3';
$icon-jersey:'\f5c4';
$icon-vial:'\f5c5';
$icon-noteslist:'\f5c6';
$icon-notestasks:'\f5c7';
$icon-notesdate:'\f5c8';
$icon-noteslocation:'\f5c9';
$icon-noteslistalt:'\f5ca';
$icon-notestasksalt:'\f5cb';
$icon-notesdatealt:'\f5cc';
$icon-noteslocationalt:'\f5cd';
$icon-useralt:'\f5ce';
$icon-adduseralt:'\f5cf';
$icon-removeuseralt:'\f5d0';
$icon-banuseralt:'\f5d1';
$icon-banuser:'\f5d2';
$icon-paintrollalt:'\f5d3';
$icon-textcursor:'\f5d4';
$icon-textfield:'\f5d5';
$icon-precisecursor:'\f5d6';
$icon-brokenlink:'\f5d7';
$icon-bookmarkthree:'\f5d8';
$icon-bookmarkfour:'\f5d9';
$icon-warmedalalt:'\f5da';
$icon-thinking:'\f5db';
$icon-commentlove:'\f5dc';
$icon-commentsmiley:'\f5dd';
$icon-sharetwo:'\f147';
$icon-emptystar:'\f2de';
$icon-halfstar:'\f2df';
$icon-fullstar:'\f2e0';
$icon-forbidden:'\f314';
$icon-indentleftalt:'\f4c4';
$icon-indentrightalt:'\f4c5';
$icon-modxalt:'\f5de';
$icon-apple:'\f5df';
$icon-greekcolumn:'\f5e0';
$icon-walletalt:'\f5e1';
$icon-dollarsquare:'\f5e2';
$icon-poundsquare:'\f5e3';
$icon-yensquare:'\f5e4';
$icon-eurosquare:'\f5e5';
$icon-bitcoinsquare:'\f5e6';
$icon-roublesquare:'\f5e7';
$icon-roublealt:'\f5e8';
$icon-bitcoinalt:'\f5e9';
$icon-gavel:'\f5ea';
$icon-barchartasc:'\f5eb';
$icon-barchartdesc:'\f5ec';
$icon-house:'\f5ed';
$icon-garage:'\f5ee';
$icon-milk:'\f5ef';
$icon-hryvnia:'\f5f0';
$icon-hryvniasquare:'\f5f1';
$icon-hryvniaalt:'\f5f2';
$icon-beeralt:'\f5f3';
$icon-trolleyfull:'\f5f4';
$icon-trolleyload:'\f5f5';
$icon-trolleyunload:'\f5f6';
$icon-trolleyempty:'\f5f7';
$icon-mootools:'\f5f8';
$icon-mootoolstwo:'\f5f9';
$icon-mootoolsthree:'\f5fa';
$icon-mysqlthree:'\f5fb';
$icon-mysqlalt:'\f5fc';
$icon-pgsql:'\f5fd';
$icon-mongodb:'\f5fe';
$icon-neofourj:'\f5ff';
$icon-nosql:'\f600';
$icon-catface:'\f601';
$icon-polaroid:'\f602';
$icon-clouderror:'\f603';
$icon-camcorder:'\f604';
$icon-projector:'\f605';
$icon-sdvideo:'\f606';
$icon-fx:'\f607';
$icon-gramophone:'\f608';
$icon-speakeralt:'\f609';
$icon-hddalt:'\f60a';
$icon-usbflash:'\f60b';
$icon-manillaenvelope:'\f60c';
$icon-stickynote:'\f60d';
$icon-stickynotealt:'\f60e';
$icon-torch:'\f60f';
$icon-flashlightalt:'\f610';
$icon-campfire:'\f611';
$icon-cctv:'\f612';
$icon-drill:'\f613';
$icon-lampalt:'\f614';
$icon-flowerpot:'\f615';
$icon-defragment:'\f616';
$icon-panoramio:'\f617';
$icon-panorama:'\f618';
$icon-photosphere:'\f619';
$icon-panoramaalt:'\f61a';
$icon-timer:'\f61b';
$icon-burstmode:'\f61c';
$icon-cameraflash:'\f61d';
$icon-autoflash:'\f61e';
$icon-noflash:'\f61f';
$icon-threetofour:'\f620';
$icon-sixteentonine:'\f621';
$icon-cat:'\f622';
$icon-dog:'\f623';
$icon-rabbit:'\f624';
$icon-koala:'\f625';
$icon-butterflyalt:'\f626';
$icon-butterfly:'\f627';
$icon-wwf:'\f628';
$icon-poop:'\f629';
$icon-poopalt:'\f62a';
$icon-kiwi:'\f62b';
$icon-kiwifruit:'\f62c';
$icon-lemon:'\f62d';
$icon-pear:'\f62e';
$icon-watermelon:'\f62f';
$icon-onion:'\f630';
$icon-turnip:'\f631';
$icon-eggplant:'\f632';
$icon-avocado:'\f633';
$icon-perfume:'\f634';
$icon-arch:'\f635';
$icon-pluspages:'\f636';
$icon-community:'\f637';
$icon-pluscircles:'\f638';
$icon-googleplusold:'\f639';
$icon-plusgames:'\f63a';
$icon-event:'\f63b';
$icon-miui:'\f63c';
$icon-hot:'\f63d';
$icon-flowup:'\f63e';
$icon-flowdown:'\f63f';
$icon-moustache:'\f640';
$icon-angle:'\f641';
$icon-sleep:'\f642';
$icon-acorn:'\f643';
$icon-steamalt:'\f644';
$icon-resizeupleft:'\f645';
$icon-resizeupright:'\f646';
$icon-resizedownright:'\f647';
$icon-resizedownleft:'\f648';
$icon-hammeralt:'\f649';
$icon-bamboo:'\f64a';
$icon-mypictures:'\f64b';
$icon-mymusic:'\f64c';
$icon-myvideos:'\f64d';
$icon-systemfolder:'\f64e';
$icon-bookthree:'\f64f';
$icon-compile:'\f650';
$icon-report:'\f651';
$icon-fliphorizontal:'\f652';
$icon-flipvertical:'\f653';
$icon-construction:'\f654';
$icon-counteralt:'\f655';
$icon-counter:'\f656';
$icon-papercutter:'\f657';
$icon-snaptodot:'\f658';
$icon-snaptogrid:'\f659';
$icon-caligraphy:'\f65a';
$icon-icecreamthree:'\f65b';
$icon-skitch:'\f65c';
$icon-archlinux:'\f65d';
$icon-elementaryos:'\f65e';
$icon-loadingone:'\f65f';
$icon-loadingtwo:'\f660';
$icon-loadingthree:'\f661';
$icon-loadingfour:'\f662';
$icon-loadingfive:'\f663';
$icon-loadingsix:'\f664';
$icon-loadingseven:'\f665';
$icon-loadingeight:'\f666';
$icon-brokenheart:'\f667';
$icon-heartarrow:'\f668';
$icon-heartsparkle:'\f669';
$icon-cell:'\f66a';
$icon-panda:'\f66b';
$icon-refreshalt:'\f66c';
$icon-mirror:'\f66d';
$icon-headphonesthree:'\f66e';
$icon-fan:'\f66f';
$icon-tornado:'\f670';
$icon-hangout:'\f671';
$icon-beaker:'\f672';
$icon-beakeralt:'\f673';
$icon-phonescreensize:'\f674';
$icon-tabletscreensize:'\f675';
$icon-notification:'\f676';
$icon-googleglass:'\f677';
$icon-pinterest:'\f678';
$icon-soundcloud:'\f679';
$icon-alarmclock:'\f67a';
$icon-addalarm:'\f67b';
$icon-deletealarm:'\f67c';
$icon-turnoffalarm:'\f67d';
$icon-snooze:'\f67e';
$icon-bringforward:'\f67f';
$icon-sendbackward:'\f680';
$icon-bringtofront:'\f681';
$icon-sendtoback:'\f682';
$icon-tectile:'\f683';
$icon-grave:'\f684';
$icon-gravetwo:'\f685';
$icon-gravethree:'\f686';
$icon-gravefour:'\f687';
$icon-textlayer:'\f688';
$icon-vectoralt:'\f689';
$icon-drmanhattan:'\f68a';
$icon-foursquarealt:'\f68b';
$icon-hashtag:'\f68c';
$icon-enteralt:'\f68d';
$icon-exitalt:'\f68e';
$icon-cartalt:'\f68f';
$icon-vaultthree:'\f690';
$icon-fatundo:'\f691';
$icon-fatredo:'\f692';
$icon-feedly:'\f693';
$icon-feedlyalt:'\f694';
$icon-squareheart:'\f695';
$icon-squarestar:'\f696';
$icon-squarecomment:'\f697';
$icon-squarelike:'\f698';
$icon-squarebookmark:'\f699';
$icon-squaresearch:'\f69a';
$icon-squaresettings:'\f69b';
$icon-squarevoice:'\f69c';
$icon-google:'\f69d';
$icon-emojigrinalt:'\f69e';
$icon-emojigrin:'\f69f';
$icon-constellation:'\f6a0';
$icon-emojisurprise:'\f6a1';
$icon-emojidead:'\f6a2';
$icon-emojiangry:'\f6a3';
$icon-emojidevil:'\f6a4';
$icon-emojiwink:'\f6a5';
$icon-moonorbit:'\f6a6';
$icon-emojismile:'\f6a7';
$icon-emojisorry:'\f6a8';
$icon-emojiconfused:'\f6a9';
$icon-emojisleep:'\f6aa';
$icon-emojicry:'\f6ab';
$icon-circlefork:'\f6ac';
$icon-circlespoon:'\f6ad';
$icon-circleknife:'\f6ae';
$icon-circlepencil:'\f6af';
$icon-circlehammer:'\f6b0';
$icon-circlescrewdriver:'\f6b1';
$icon-middlefinger:'\f6b2';
$icon-heavymetal:'\f6b3';
$icon-turnright:'\f6b4';
$icon-turnleft:'\f6b5';
$icon-vineapp:'\f6b6';
$icon-vineappalt:'\f6b7';
$icon-finance:'\f6b8';
$icon-survey:'\f6b9';
$icon-hangouts:'\f6ba';
$icon-square0:'\f6bb';
$icon-square1:'\f6bc';
$icon-square2:'\f6bd';
$icon-square3:'\f6be';
$icon-square4:'\f6bf';
$icon-square5:'\f6c0';
$icon-square6:'\f6c1';
$icon-square7:'\f6c2';
$icon-square8:'\f6c3';
$icon-square9:'\f6c4';
$icon-squarea:'\f6c5';
$icon-squareb:'\f6c6';
$icon-squarec:'\f6c7';
$icon-squared:'\f6c8';
$icon-squaree:'\f6c9';
$icon-squaref:'\f6ca';
$icon-squareg:'\f6cb';
$icon-squareh:'\f6cc';
$icon-squarei:'\f6cd';
$icon-squarej:'\f6ce';
$icon-squarek:'\f6cf';
$icon-squarel:'\f6d0';
$icon-squarem:'\f6d1';
$icon-squaren:'\f6d2';
$icon-squareo:'\f6d3';
$icon-squarep:'\f6d4';
$icon-squareq:'\f6d5';
$icon-squarer:'\f6d6';
$icon-squares:'\f6d7';
$icon-squaret:'\f6d8';
$icon-squareu:'\f6d9';
$icon-squarev:'\f6da';
$icon-squarew:'\f6db';
$icon-squarex:'\f6dc';
$icon-squarey:'\f6dd';
$icon-squarez:'\f6de';
$icon-shuttle:'\f6df';
$icon-meteor:'\f6e0';
$icon-galaxy:'\f6e1';
$icon-observatory:'\f6e2';
$icon-astronaut:'\f6e3';
$icon-asteroid:'\f6e4';
$icon-sunrise:'\f6e5';
$icon-sunset:'\f6e6';
$icon-tiderise:'\f6e7';
$icon-tidefall:'\f6e8';
$icon-mushroomcloud:'\f6e9';
$icon-galaxyalt:'\f6ea';
$icon-sputnik:'\f6eb';
$icon-sextant:'\f6ec';
$icon-spock:'\f6ed';
$icon-meteorite:'\f6ee';
$icon-deathstar:'\f6ef';
$icon-deathstarbulding:'\f6f0';
$icon-fallingstar:'\f6f1';
$icon-windmill:'\f6f2';
$icon-windmillalt:'\f6f3';
$icon-pumpjack:'\f6f4';
$icon-nuclearplant:'\f6f5';
$icon-solarpanel:'\f6f6';
$icon-barrel:'\f6f7';
$icon-canister:'\f6f8';
$icon-railtunnel:'\f6f9';
$icon-roadtunnel:'\f6fa';
$icon-pickaxe:'\f6fb';
$icon-cow:'\f6fc';
$icon-sheep:'\f6fd';
$icon-fountain:'\f6fe';
$icon-circlezero:'\f6ff';
$icon-circleone:'\f700';
$icon-circletwo:'\f701';
$icon-circlethree:'\f702';
$icon-circlefour:'\f703';
$icon-circlefive:'\f704';
$icon-circlesix:'\f705';
$icon-circleseven:'\f706';
$icon-circleeight:'\f707';
$icon-circlenine:'\f708';
$icon-circlea:'\f709';
$icon-circleb:'\f70a';
$icon-circlec:'\f70b';
$icon-circled:'\f70c';
$icon-circlee:'\f70d';
$icon-circlef:'\f70e';
$icon-circleg:'\f70f';
$icon-circleh:'\f710';
$icon-circlei:'\f711';
$icon-circlej:'\f712';
$icon-circlek:'\f713';
$icon-circlel:'\f714';
$icon-circlem:'\f715';
$icon-circlen:'\f716';
$icon-circleo:'\f717';
$icon-circlep:'\f718';
$icon-circleq:'\f719';
$icon-circler:'\f71a';
$icon-circles:'\f71b';
$icon-circlet:'\f71c';
$icon-circleu:'\f71d';
$icon-circlev:'\f71e';
$icon-circlew:'\f71f';
$icon-circlex:'\f720';
$icon-circley:'\f721';
$icon-circlez:'\f722';
$icon-creeper:'\f723';
$icon-minecraft:'\f724';
$icon-minecraftalt:'\f725';
$icon-pixelsword:'\f726';
$icon-pixelbroadsword:'\f727';
$icon-pixelwand:'\f728';
$icon-pixelpotion:'\f729';
$icon-pixelpotionalt:'\f72a';
$icon-pixelpickaxe:'\f72b';
$icon-pixelbow:'\f72c';
$icon-pixelarrow:'\f72d';
$icon-pixelaxe:'\f72e';
$icon-pixeldagger:'\f72f';
$icon-pixelbastardsword:'\f730';
$icon-pixellance:'\f731';
$icon-pixelbattleaxe:'\f732';
$icon-pixelshovel:'\f733';
$icon-pixelsphere:'\f734';
$icon-pixelelixir:'\f735';
$icon-pixelchest:'\f736';
$icon-pixelshield:'\f737';
$icon-pixelheart:'\f738';
$icon-rudder:'\f739';
$icon-folderalt:'\f73a';
$icon-removefolderalt:'\f73b';
$icon-addfolderalt:'\f73c';
$icon-deletefolderalt:'\f73d';
$icon-openfolderalt:'\f73e';
$icon-clipboardalt:'\f73f';
$icon-pastealt:'\f740';
$icon-loadingflowccw:'\f741';
$icon-loadingflowcw:'\f742';
$icon-code:'\f743';
$icon-cloveralt:'\f744';
$icon-lips:'\f745';
$icon-kiss:'\f746';
$icon-manualshift:'\f747';
$icon-simcardthree:'\f748';
$icon-parthenon:'\f749';
$icon-addcomment:'\f74a';
$icon-deletecomment:'\f74b';
$icon-gender:'\f74c';
$icon-callalt:'\f74d';
$icon-outgoingcallalt:'\f74e';
$icon-incomingcallalt:'\f74f';
$icon-missedcallalt:'\f750';
$icon-export:'\f751';
$icon-import:'\f752';
$icon-cherryalt:'\f753';
$icon-panties:'\f754';
$icon-kimai:'\f755';
$icon-livejournal:'\f756';
$icon-livejournalalt:'\f757';
$icon-tagged:'\f758';
$icon-temple:'\f759';
$icon-mayanpyramid:'\f75a';
$icon-egyptpyramid:'\f75b';
$icon-tampermonkey:'\f75c';
$icon-pushbullet:'\f75d';
$icon-currents:'\f75e';
$icon-communitysmall:'\f75f';
$icon-squaregithub:'\f760';
$icon-projectfork:'\f761';
$icon-projectmerge:'\f762';
$icon-projectcompare:'\f763';
$icon-history:'\f764';
$icon-notebook:'\f765';
$icon-issue:'\f766';
$icon-issueclosed:'\f767';
$icon-issuereopened:'\f768';
$icon-rubyalt:'\f769';
$icon-lighton:'\f76a';
$icon-lightoff:'\f76b';
$icon-bellalt:'\f76c';
$icon-versions:'\f777';
$icon-twog:'\f76e';
$icon-threeg:'\f76f';
$icon-fourg:'\f770';
$icon-gpsalt:'\f771';
$icon-circleloaderfull:'\f772';
$icon-circleloaderseven:'\f773';
$icon-circleloadersix:'\f774';
$icon-circleloaderfive:'\f775';
$icon-circleloaderfour:'\f776';
$icon-circleloaderthree:'\f777';
$icon-circleloadertwo:'\f778';
$icon-circleloaderone:'\f779';
$icon-circleloaderempty:'\f77a';
$icon-whatsapp:'\f77b';
$icon-whatsappalt:'\f77c';
$icon-viber:'\f77d';
$icon-squareviber:'\f77e';
$icon-teamviewer:'\f77f';
$icon-tunein:'\f780';
$icon-tuneinalt:'\f781';
$icon-weightscale:'\f782';
$icon-boxing:'\f783';
$icon-speedalt:'\f784';
$icon-scriptalt:'\f785';
$icon-splitthree:'\f786';
$icon-mergethree:'\f787';
$icon-layersthree:'\f788';
$icon-mutemic:'\f789';
$icon-zerply:'\f78a';
$icon-circlegoogleplus:'\f78b';
$icon-circletwitter:'\f78c';
$icon-circlefacebook:'\f78d';
$icon-circleyahoo:'\f78e';
$icon-circlegithub:'\f78f';
$icon-forumsalt:'\f790';
$icon-circlepath:'\f791';
$icon-circlevimeo:'\f792';
$icon-circlevine:'\f793';
$icon-instagramtwo:'\f794';
$icon-instagramthree:'\f795';
$icon-flickrthree:'\f796';
$icon-quora:'\f797';
$icon-squarequora:'\f798';
$icon-circlequora:'\f799';
$icon-picasa:'\f79a';
$icon-branch:'\f79b';
$icon-ingress:'\f79c';
$icon-squarezerply:'\f79d';
$icon-circlezerply:'\f79e';
$icon-squarevimeo:'\f79f';
$icon-squaretwitter:'\f7a0';
$icon-brightnessalt:'\f7a1';
$icon-brightnessalthalf:'\f7a2';
$icon-brightnessaltfull:'\f7a3';
$icon-brightnessaltauto:'\f7a4';
$icon-shirtbuttonthree:'\f7a5';
$icon-openshare:'\f7a6';
$icon-copyapp:'\f7a7';
$icon-bowl:'\f7a8';
$icon-cloudalt:'\f7a9';
$icon-cloudaltdownload:'\f7aa';
$icon-cloudaltupload:'\f7ab';
$icon-cloudaltsync:'\f7ac';
$icon-cloudaltprivate:'\f7ad';
$icon-flipboard:'\f7ae';
$icon-octoloaderempty:'\f7af';
$icon-octoloaderone:'\f7b0';
$icon-octoloadertwo:'\f7b1';
$icon-octoloaderthree:'\f7b2';
$icon-octoloaderfour:'\f7b3';
$icon-octoloaderfive:'\f7b4';
$icon-octoloadersix:'\f7b5';
$icon-octoloaderseven:'\f7b6';
$icon-octoloaderfull:'\f7b7';
$icon-selectionsymbol:'\f7b8';
$icon-infinityalt:'\f7b9';
$icon-pullrequest:'\f7ba';
$icon-projectforkdelete:'\f7bb';
$icon-projectforkprivate:'\f7bc';
$icon-commit:'\f7bd';
$icon-htmlfile:'\f7be';
$icon-pushalt:'\f7bf';
$icon-pullalt:'\f7c0';
$icon-photonineframes:'\f7c1';
$icon-wetfloor:'\f7c2';
$icon-instagramfour:'\f7c3';
$icon-circleinstagram:'\f7c4';
$icon-videocamerathree:'\f7c5';
$icon-subtitles:'\f7c6';
$icon-subtitlesoff:'\f7c7';
$icon-compress:'\f7c8';
$icon-baby:'\f7c9';
$icon-ducky:'\f7ca';
$icon-handswipe:'\f7cb';
$icon-swipeup:'\f7cc';
$icon-swipedown:'\f7cd';
$icon-twofingerswipedown:'\f7ce';
$icon-twofingerswipeup:'\f7cf';
$icon-doubletap:'\f7d0';
$icon-dribbblealt:'\f7d1';
$icon-circlecallmissed:'\f7d2';
$icon-circlecallincoming:'\f7d3';
$icon-circlecalloutgoing:'\f7d4';
$icon-circledownload:'\f7d5';
$icon-circleupload:'\f7d6';
$icon-minismile:'\f7d7';
$icon-minisad:'\f7d8';
$icon-minilaugh:'\f7d9';
$icon-minigrin:'\f7da';
$icon-miniangry:'\f7db';
$icon-minitongue:'\f7dc';
$icon-minitonguealt:'\f7dd';
$icon-miniwink:'\f7de';
$icon-minitonguewink:'\f7df';
$icon-miniconfused:'\f7e0';
$icon-soundright:'\f7e1';
$icon-soundleft:'\f7e2';
$icon-savetodrive:'\f7e3';
$icon-layerorderup:'\f7e4';
$icon-layerorderdown:'\f7e5';
$icon-layerorder:'\f7e6';
$icon-circledribbble:'\f7e7';
$icon-squaredribbble:'\f7e8';
$icon-handexpand:'\f7e9';
$icon-handpinch:'\f7ea';
$icon-fontserif:'\f7eb';
$icon-fontsansserif:'\f7ec';
$icon-fontrounded:'\f7ed';
$icon-fonthandwriting:'\f7ee';
$icon-fonttypewriter:'\f7ef';
$icon-fontcomic:'\f7f0';
$icon-fontcaligraphy:'\f7f1';
$icon-fontgothic:'\f7f2';
$icon-fontstencil:'\f7f3';
